*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-image: url("bg.jpg");
    height: 100vh;
    
}

#logo{
    height: 40px;
    width: 150px;
    margin-top: 20px;
}

.navbar{
    display: flex;
    height: 100px;
    justify-content: space-around;
}

.buttons{
    margin-top: 20px;
}

#b1{
    font-size: 20px;
    color: white;
    margin-right: 10px;
    background-color: transparent;
    padding: 3px 3px 3px 3px;
    border: 1px solid white;
    border-radius: 5px;
}


#b2{
    font-size: 20px;
    color: white;
    padding: 5px 5px 5px 5px;
    background-color: red;
    border: none;
    border-radius: 5px;
    animation: ho;
    
}

h1{
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-top: 20vh;
}

#p1{
    color: white;
    text-align: center;
    font-size: 1.2vw;
}

#p2{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2vw;
    
}

.input-email{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

#in1{
    width: 25vw;
    height: 7vh;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;

}

#in2{
    width: 10vw;
    margin-left: 10px;
    background-color: red;
    font-size: 1.3rem;
    color: white;
    border-radius: 10px;
    border: none;
}

.content{
    height: 100vh;
    background-color: rgb(1, 1, 23);
    padding-left: 9vw;
}

#p3{
    color: white;
    padding-top: 10vh;
    font-size: 1.5vw;
    margin-bottom: 20px;
    
}

.content-box{
    display: flex;
    justify-content: space-evenly;
}
.box1{
    width: 11vw;
    height: 28vh;
    padding-top: 0px;
    background-image: url("1.jpg");
    background-size: cover;
    border-radius: 5px;
    
}
.box2{
    width: 11vw;
    height: 28vh;
    padding-top: 0px;
    background-image: url("2.jpg");
    background-size: cover;
    border-radius: 5px;   
}
.box3{
    width: 11vw;
    height: 28vh;
    padding-top: 0px;
    background-image: url("3.jpg");
    background-size: cover;
    border-radius: 5px;   
}
.box4{
    width: 11vw;
    height: 28vh;
    padding-top: 0px;
    background-image: url("4.jpg");
    background-size: cover;
    border-radius: 5px;   
}
.box5{
    width: 11vw;
    height: 28vh;
    padding-top: 0px;
    background-image: url("5.jpg");
    background-size: cover;
    border-radius: 5px;   
}
.box6{
    width: 11vw;
    height: 28vh;
    padding-top: 0px;
    background-image: url("6.jpg");
    background-size: cover;
    border-radius: 5px;   
}
#number{
    font-size: 5vw;
    z-index: 20;
    display: flex;
    margin-top: 100px;
    margin-left: 0;
    color: white;
}

#p4{
    color: white;
    padding-top: 8vh;
    font-size: 1.5vw;
    margin-bottom: 20px;
    
}

.content-second{
    display: flex;
    justify-content: space-evenly;
    
}

.info-box1{
    height: 35vh;
    width: 20vw;
    background: linear-gradient(90deg, rgba(25, 33, 69, 1), rgba(29, 22, 43, 1), rgba(0, 0, 0, 1));
    -webkit-background: linear-gradient(90deg, rgba(25, 33, 69, 1), rgba(29, 22, 43, 1), rgba(0, 0, 0, 1));
    -moz-background: linear-gradient(90deg, rgba(25, 33, 69, 1), rgba(29, 22, 43, 1), rgba(0, 0, 0, 1));
    border-radius: 15px;
}

.heading-p{
    color: white;
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 10px;
}

.description-p{
    color: white;
    font-size: 1rem;
    padding-top: 15px;
    padding-left: 10px;
}

.questions-section{
    height: 110vh;
    background-color: rgb(1, 1, 23);
}

.question-tag{
    color: white;
    margin-left: 9vw;
    font-size: 1.5rem
}

.que-1{
    color: white;
    margin-left: 9vw;
    margin-top: 3vh;
    height: 10vh;
    width: 80vw;
    font-size: 1.5rem;
    padding-left: 3vw;
    background-color: #414141;
    align-items: center;
    display: flex;
}
.text-1{
    color: white;
    text-align: center;
    margin-top: 10vh;
}
footer{
    height: 50vh;
    background-color: rgb(1, 1, 23);
}
.text-2{
    color: #b3b3b3;
    margin-left: 9vw;
}

.section-1{
    color: #b3b3b3;
    display: flex;
    margin-left: 9vw;
    margin-top: 10vh;
}

ul{
    margin-right: 10vw;
}
li{
    font-size: 0.8rem;
    padding-top: 2vh;
    list-style-type: none;
    text-decoration: underline;
}
